.res-wrapper {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 2rem;
}

@media screen and (max-width: 1024px) {
  .res-wrapper {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media screen and (max-width: 768px) {
  .res-wrapper {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 425px) {
  .res-wrapper {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: .5rem;
  }
}

@media screen and (max-width: 375px) {
  .res-wrapper {
    grid-template-columns: 1fr;
  }
}
