form {
  margin-bottom: 20px;
}

input {
  margin: 3% 2%;
  padding: 0.5%;
  border: 1px solid white;
}

button {
  margin: 3% 2%;
  background-color: teal;
  border: 1px solid white;
  color: white;
  padding: 0.5% 20px;
}

button:hover {
  color: teal;
  background-color: white;
  border: 1px solid teal;
}
