input {
  margin: 3% 2%;
  padding: 3px;
}

button {
  margin: 3% 2%;
  background-color: teal;
  border: 1px solid white;
  color: white;
  padding: 3px 20px;
}

button:hover {
  color: teal;
  background-color: white;
  border: 1px solid teal;
}
